<div class="full-height">
  <div style="background-color: rgb(255, 255, 255); padding-bottom: 3rem">
    <flash-messages></flash-messages>
    <!-- <div class="banner">
    <h3>
      <a (click)="Logout()"> Wyloguj</a>
    </h3>
  </div> -->
    <br />
    <div class="container container-flex">
      <h3>Subskrybcja</h3>
      <label class="switch">
        <input
          type="checkbox"
          [checked]="subscriptions"
          (change)="ChangeSubscription()"
        />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="container last">
      <div *ngIf="remainders?.length > 0">
        <h3 style="margin-bottom: 2rem">Twoje Alerty</h3>
        <div class="albums">
          <div class="card-columns">
            <div class="card" *ngFor="let alert of remainders">
              <div class="card-body">
                <h5 style="color: #282f52; font-weight: 700 !important">
                  {{ alert.code }} / PLN
                </h5>
                <p *ngIf="alert.bidPrice" class="card-text card-link"> Alert na cene sprzedaży, przy: {{alert.bidPrice.toFixed(2)}}PLN  </p>
                <p *ngIf="alert.askPrice" class="card-text card-link"> Alert na cene kupna, przy: {{alert.askPrice.toFixed(2)}}PLN </p>
                <p  class="card-text card-link" > Wygasa {{alert.endDateOfAlert?.slice(0,-9)}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>

  <hr *ngIf="remainders?.length > 0" />

  <div class="container last">
    <h3 style="margin-bottom: 2rem">Dodaj Alert</h3>
    <div class="albums">
      <div class="card-columns">
        <div class="card" *ngFor="let item of cash_list">
          <div class="card-body my-card">
            <h5
              class="card-title"
              style="color: #282f52; font-weight: 700 !important"
            >
              {{ item.Code }} / PLN
            </h5>
            <div
              class="d-inline-block"
              (click)="SetPriceAlert(item.Code, 'More')"
            >
              <span class="card-text card-link card-link-active">
                Sprzedaj za: {{ item.BidPrice.toFixed(4) }} &nbsp;</span
              >
            </div>
            <div class="vline d-inline-block"></div>
            <div
              class="d-inline-block"
              (click)="SetPriceAlert(item.Code, 'Less')"
            >
              <span class="card-text card-link card-link-active">
                Kup za {{ item.AskPrice.toFixed(4) }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
