<div class="full-height">

  <flash-messages></flash-messages>
  <div class="banner">
    <h3>
      <a (click)="Logout()"> Wyloguj</a>
    </h3>
  </div>
  <br><br>
  <div  class="container">
    <h3>Subskrybcje</h3>
    <div *ngIf="subscriptions">
      <input type="submit" (click)="RemoveSubscription()" value="Anuluj Subskrybcje">
    </div>
    <div *ngIf="!subscriptions">
      <input type="submit" (click)="AddSubscription()" value="Dodaj Subskrybcję">
    </div>
  </div>
  <div *ngIf="remainders">
    <div class="container"  *ngIf="remainders.length>0">
      <h3>Twoje Alerty</h3>
      <div class="albums">
        <div class="card-columns">
          <div class="card" *ngFor="let alert of remainders" >
            <div class="card-body" >
              <h5 class="card-title"> {{alert.Code}} / PLN </h5>
              <p *ngIf="alert.BidPrice" class="card-text"> Alert na cene sprzedaży, przy: {{alert.BidPrice.toFixed(2)}}PLN  </p>
              <p *ngIf="alert.AskPrice" class="card-text"> Alert na cene kupna, przy: {{alert.AskPrice.toFixed(2)}}PLN </p>
              <p  class="card-text"> Wygasa {{alert.EndDateOfAlert.slice(0,-9)}}</p>
            </div>
            <!--                    <span class="card-text"> Kup za {{item.AskPrice.toFixed(4)}}</span>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container last" >
    <h3>Dodaj Alert</h3>
    <div class="albums">
      <div class="card-columns">
        <div class="card" *ngFor="let item of cash_list" >
          <div class="card-body" >
            <h5 class="card-title"> {{item.Code}} / PLN </h5>
            <div class="d-inline-block" (click)="SetPriceAlert(item.Code,'More')">
              <span class="card-text"> Sprzedaj za: {{item.BidPrice.toFixed(4)}} &nbsp;</span>
            </div>
            <div class="vline d-inline-block"></div>
            <div class="d-inline-block" (click)="SetPriceAlert(item.Code,'Less')">
              <span class="card-text"> Kup za {{item.AskPrice.toFixed(4)}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>



