<div class="set-main">
  <div class="container">
    <flash-messages></flash-messages>
    <h4 style="font-weight: 700">
      Od jakiej ceny chcesz ustawić powiadomienie?
    </h4>
    <br />
    <div class="set-form">
      <div>
        <label>Podaj cene w PLN</label>
        <br />
        <input class="set-input" type="number" #price id="price" maxlength="5" size="20%" />
      </div>
      <div>
        <label>Wybierz datę końcową powiadomienia</label>
        <br />
        <input class="set-input" type="date" #date id="date" size="20%" />
      </div>
    </div>
    <input
      class="set-button"
      type="submit"
      value="Zatwierdź"
      (click)="AddAlert(price.value, date.value)"
    />
  </div>
</div>
