<header>
  <nav
    class="navbar mynavbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container" style="color:white">
      <a class="navbar-brand" [routerLink]="['/']" style="color:white;font-weight:700; font-size: 32px;">Walutomierz</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/user-profile']"><b>Subskrybcje</b></a>
          </li>
          
          <li *ngIf="!isLogged" class="nav-item" [routerLinkActive]="['link-active']" >
            <a class="nav-link text-light fw-2" [routerLink]="['/login']"><b>Zaloguj się</b></a>
          </li>
          <li *ngIf="isLogged" class="nav-item" [routerLinkActive]="['link-active']" >
            <a class="nav-link text-light" (click)="Logout()" style="cursor: pointer;"><b>Wyloguj</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

