<div class="container">

<h1>NBP</h1>

<p *ngIf="!cash_list"><em>Loading...</em></p>

<h4>Aktualne kursy walut z NBP:</h4>

<label >ISO Waluty: </label>

<select #iso>
  <option value="USD">USD $</option>
  <option value="EUR">EUR €</option>
  <option value="GBP">Funt szterling £</option>
  <option value="AUD">Dolar australijski $</option>
  <option value="CAD">Dolar kanadyjski $</option>
  <option value="HUF">Forint (Węgry) Ft</option>
  <option value="CZK"> Korona czeska Kč </option>
  <option value="CHF">Frank szwajcarski fr.</option>
  <option value="JPY">Jen (Japonia) ¥</option>
  <option value="DKK">Korona duńska </option>
  <option value="NOK">Korona norweska</option>
  <option value="SEK">Korona Szwedzka</option>
  <option value="XDR">SDR</option>
</select>
<select #count >
  <option  value=10>10</option>
  <option value=20>20</option>
  <option value=30>30</option>
</select>
<button type="button" class="btn btn-default" (click)="TakeLastCurrency(iso.value, count.value) ">Send request</button>

<div *ngIf="!result; then table; else api;"></div>
<ng-template #api>
  <p *ngIf="!result"><em>Loading...</em></p>

  <apx-chart [series]="series" [chart]="chart" [title]="title" [yaxis]="yaxis" [xaxis]="xaxis"></apx-chart>
  <table class='table table-striped ' aria-labelledby="tableLabel">

    <thead>
      <tr>
        <th>Data</th>
        <th>Waluta</th>
        <th>Cena kupna (Za tyle kupisz)</th>
        <th>Cena sprzedaży (Za tyle sprzedasz)</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cash of result">
        <td>{{ cash.Data }}</td>
        <td>{{ cash.Name}}</td>
        <td>{{ cash.AskPrice }} PLN</td>
        <td>{{ cash.BidPrice }} PLN</td>
      </tr>
    </tbody>
  </table>
</ng-template>
  <ng-template #table>
    <table class='table table-striped ' aria-labelledby="tableLabel">

      <thead>
        <tr>
          <th>Data</th>
          <th>Waluta</th>
          <th>Cena kupna (Za tyle kupisz)</th>
          <th>Cena sprzedaży (Za tyle sprzedasz)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cash of cash_list">
          <td>{{ cash.Data }}</td>
          <td>{{ cash.Name}}</td>
          <td>{{ cash.AskPrice }} PLN</td>
          <td>{{ cash.BidPrice }} PLN</td>
        </tr>
      </tbody>
    </table>
  </ng-template>


</div>
